.st0 {
  fill: #333333;
}
.st1 {
  display: none;
  fill: #ffffff;
}
.st2 {
  font-family: "Kanit-Medium";
}
.st3 {
  font-size: 48px;
}
.st4 {
  fill: #666666;
}
.st5 {
  fill: #cccccc;
}
.st6 {
  font-size: 32px;
}
.st7 {
  fill: #00ccff;
}
.st8 {
  fill: #dc35f9;
}
.st9 {
  fill: #ffff33;
}
.st10 {
  fill: #ff6600;
}
.st11 {
  fill: #e9078a;
  stroke: #e9078a;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st12 {
  fill: none;
  stroke: #e9078a;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st13 {
  display: none;
  fill: #ff6600;
}
